
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make-up</title>
</head>
<body>
    <header>
<nav>
    <a href="/">home</a>
    <a href="/allproducts">All products</a>
    <!-- <a href="/">home</a> -->
</nav>
    </header>
    <main>
<form action="/getResult" method="post">
<input type="text" name="brand" value="brand" placeholder="Add brand Name">
<input type="number" name="price_greater_than" value="price_greater_than" placeholder="price greater than">
<input type="number" name="price_lower_than" value="price_lower_than" placeholder="price lower than">
<button>GET!</button>

</form>
    </main>
    <footer>

    </footer>
</body>
</html>