
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make-up</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/allproducts">All products</a>
            <a href="/myCard">My Card</a>
        </nav>
    </header>
    <main>


<div>
    <% makeup.forEach(element => {%>
        <img src="<%=element.image_link %> " alt="">
        <h4> <%=element.name %> </h4> 
        <p><%=element.price %></p>
        <p><%=element.description %></p>
        
        <%  }); %>
     
   

</div>
    </main>
    <footer>

    </footer>
</body>
</html>